* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    font-size: 0.38rem;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 0.8rem;
        background: #ff852a;
        color: #fff;
        display: flex;
        align-items: center;
        .one {
            display: block;
            width: 40px;
            height: 40px;
            overflow: hidden;
            margin-left: 10px;
            margin-top: 15px;
            img {
                display: block;
                transform: translateX(-0.2rem);
                width: 100%;
            }
        }
        span {
            display: block;
            width: 85%;
            margin-right: 0.3rem;
            background: #ff4e22;
            display: flex;
            justify-content: center;
            align-items: center;
            b {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 0.3rem;
                img {
                    display: block;
                    transform: translateX(10px);
                    width: 100%;
                    // height: 100%;
                    margin: 0 auto;
                }
            }
            input {
                width: 2rem;
                border: none;
                background: none;
                color: #fff;
                &::-webkit-input-placeholder {
                    color: #fff;
                }
                // text-align: center;
            }
        }
    }
    section {
        width: 100%;
        flex: 1;
        overflow: hidden;
        .banner1 {
            width: 100%;
            img {
                display: block;
                width: 100%
            }
        }
        .list {
            width: 100%;
            // height: 4rem;
            display: flex;
            flex-wrap: wrap;
            dl {
                width: 20%;
                padding: 0.25rem 0;
                dt {
                    width: 30px;
                    height: 30px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
                dd {
                    width: 100%;
                    text-align: center;
                    font-size: 0.22rem;
                    color: grey;
                }
            }
        }
        .tt {
            width: 100%;
            height: 1.2rem;
            // background: red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 8px #eee;
            .dz {
                display: block;
                width: 50px;
                height: 50px;
                background: white;
                img {
                    display: block;
                    width: 80%;
                    margin: 5px auto;
                }
            }
            .banner2 {
                flex: 1;
                overflow: hidden;
                background: white;
                .banner2s {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .tit {
                    width: 72%;
                    font-size: 0.14rem;
                    text-overflow: ellipsis;
                }
                .car {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .tw {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .one {
                width: 50%;
                position: relative;
                display: flex;
                justify-content: space-around;
                h3 {
                    color: red;
                    position: absolute;
                    top: 0.11rem;
                    left: 0;
                    font-size: 0.3rem;
                    padding-left: 0.15rem;
                }
                .small {
                    display: block;
                    margin-top: 0.7rem;
                    width: 60px;
                    height: 70px;
                }
                .big {
                    width: 90px;
                    height: 100px;
                    display: block;
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            display: flex;
            flex-direction: column;
            img {
                margin: 0 auto;
                display: block;
                width: 40px;
                height: 22px;
            }
            span {
                color: #666;
                font-size: 0.3rem;
                text-align: center;
            }
        }
    }
}