* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  font-size: 0.38rem;
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  height: 0.8rem;
  background: #ff852a;
  color: #fff;
  display: flex;
  align-items: center;
}

.wrap header .one {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 15px;
}

.wrap header .one img {
  display: block;
  transform: translateX(-0.2rem);
  width: 100%;
}

.wrap header span {
  display: block;
  width: 85%;
  margin-right: 0.3rem;
  background: #ff4e22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap header span b {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}

.wrap header span b img {
  display: block;
  transform: translateX(10px);
  width: 100%;
  margin: 0 auto;
}

.wrap header span input {
  width: 2rem;
  border: none;
  background: none;
  color: #fff;
}

.wrap header span input::-webkit-input-placeholder {
  color: #fff;
}

.wrap section {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.wrap section .banner1 {
  width: 100%;
}

.wrap section .banner1 img {
  display: block;
  width: 100%;
}

.wrap section .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrap section .list dl {
  width: 20%;
  padding: 0.25rem 0;
}

.wrap section .list dl dt {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.wrap section .list dl dt img {
  width: 100%;
}

.wrap section .list dl dd {
  width: 100%;
  text-align: center;
  font-size: 0.22rem;
  color: grey;
}

.wrap section .tt {
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 8px #eee;
}

.wrap section .tt .dz {
  display: block;
  width: 50px;
  height: 50px;
  background: white;
}

.wrap section .tt .dz img {
  display: block;
  width: 80%;
  margin: 5px auto;
}

.wrap section .tt .banner2 {
  width: 80%;
  height: 100%;
  overflow: hidden;
  background: white;
}

.wrap section .tt .banner2 .banner2s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap section .tt .banner2 .tit {
  width: 72%;
  font-size: 0.14rem;
  text-overflow: ellipsis;
}

.wrap section .tt .banner2 .car {
  display: block;
  width: 40px;
  height: 40px;
}

.wrap section .tw {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap section .tw .one {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.wrap section .tw .one h3 {
  color: red;
  position: absolute;
  top: 0.11rem;
  left: 0;
  font-size: 0.3rem;
  padding-left: 0.15rem;
}

.wrap section .tw .one .small {
  display: block;
  margin-top: 0.7rem;
  width: 60px;
  height: 70px;
}

.wrap section .tw .one .big {
  width: 90px;
  height: 100px;
  display: block;
}

.wrap footer {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap footer a {
  display: flex;
  flex-direction: column;
}

.wrap footer a img {
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 22px;
}

.wrap footer a span {
  color: #666;
  font-size: 0.3rem;
  text-align: center;
}
